<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-invoice-item-heading" jhiTranslate="jiotmsappApp.invoiceItem.home.createOrEditLabel">Create or edit a Invoice Item</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.invoiceItem.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.invoiceItem.qty" for="field_qty">Qty</label>
                    <input type="number" class="form-control" name="qty" id="field_qty"
                           formControlName="qty"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.invoiceItem.price" for="field_price">Price</label>
                    <input type="number" class="form-control" name="price" id="field_price"
                           formControlName="price"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.invoiceItem.total" for="field_total">Total</label>
                    <input type="number" class="form-control" name="total" id="field_total"
                           formControlName="total"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.invoiceItem.status" for="field_status">Status</label>
                    <select class="form-control" name="status" formControlName="status" id="field_status">
                        <option value="DRAFT">{{'jiotmsappApp.InvoiceStatus.DRAFT' | translate}}</option>
                        <option value="GENERATED">{{'jiotmsappApp.InvoiceStatus.GENERATED' | translate}}</option>
                        <option value="SENT">{{'jiotmsappApp.InvoiceStatus.SENT' | translate}}</option>
                        <option value="PAID">{{'jiotmsappApp.InvoiceStatus.PAID' | translate}}</option>
                        <option value="OVERDRAFT">{{'jiotmsappApp.InvoiceStatus.OVERDRAFT' | translate}}</option>
                        <option value="VOIDED">{{'jiotmsappApp.InvoiceStatus.VOIDED' | translate}}</option>
                        <option value="PARTIALLY_PAID">{{'jiotmsappApp.InvoiceStatus.PARTIALLY_PAID' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.invoiceItem.shipmentNumber" for="field_shipmentNumber">Shipment Number</label>
                    <input type="text" class="form-control" name="shipmentNumber" id="field_shipmentNumber"
                           formControlName="shipmentNumber"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.invoiceItem.bol" for="field_bol">Bol</label>
                    <input type="text" class="form-control" name="bol" id="field_bol"
                           formControlName="bol"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
