<div>
    <h2 id="page-heading">
        <span jhiTranslate="jiotmsappApp.invoice.home.title">Invoices</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-invoice" [routerLink]="['/invoice/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="jiotmsappApp.invoice.home.createLabel">
            Create a new Invoice
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'jiotmsappApp.invoice.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="invoices?.length === 0">
        <span jhiTranslate="jiotmsappApp.invoice.home.notFound">No invoices found</span>
    </div>
    <div class="table-responsive" *ngIf="invoices?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="jiotmsappApp.invoice.orderNo">Order No</span></th>
            <th scope="col" ><span jhiTranslate="jiotmsappApp.invoice.invoiceTaxTotal">Invoice Tax Total</span></th>
            <th scope="col" ><span jhiTranslate="jiotmsappApp.invoice.invoiceSubTotal">Invoice Sub Total</span></th>
            <th scope="col" ><span jhiTranslate="jiotmsappApp.invoice.invoiceTotal">Invoice Total</span></th>
            <th scope="col" ><span jhiTranslate="jiotmsappApp.invoice.invoiceDate">Invoice Date</span></th>
            <th scope="col" ><span jhiTranslate="jiotmsappApp.invoice.invoiceDueDate">Invoice Due Date</span></th>
            <th scope="col" ><span jhiTranslate="jiotmsappApp.invoice.status">Status</span></th>
            <th scope="col" ><span jhiTranslate="jiotmsappApp.invoice.invoiceTo">Invoice To</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let invoice of invoices ;trackBy: trackId">
                <td><a [routerLink]="['/invoice', invoice.id, 'view' ]">{{invoice.id}}</a></td>
                <td>{{invoice.orderNo}}</td>
                <td>{{invoice.invoiceTaxTotal}}</td>
                <td>{{invoice.invoiceSubTotal}}</td>
                <td>{{invoice.invoiceTotal}}</td>
                <td>{{invoice.invoiceDate | date:'mediumDate'}}</td>
                <td>{{invoice.invoiceDueDate | date:'mediumDate'}}</td>
                <td jhiTranslate="{{'jiotmsappApp.InvoiceStatus.' + invoice.status}}">{{invoice.status}}</td>
                <td>
                    <div *ngIf="invoice.invoiceTo">
                        <a [routerLink]="['/customer', invoice.invoiceTo?.id, 'view' ]" >{{invoice.invoiceTo?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/invoice', invoice.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/invoice', invoice.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(invoice)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
