<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-invoice-heading" jhiTranslate="jiotmsappApp.invoice.home.createOrEditLabel">Create or edit a Invoice</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.invoice.orderNo" for="field_orderNo">Order No</label>
                    <input type="text" class="form-control" name="orderNo" id="field_orderNo"
                           formControlName="orderNo"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.invoice.invoiceTaxTotal" for="field_invoiceTaxTotal">Invoice Tax Total</label>
                    <input type="number" class="form-control" name="invoiceTaxTotal" id="field_invoiceTaxTotal"
                           formControlName="invoiceTaxTotal"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.invoice.invoiceSubTotal" for="field_invoiceSubTotal">Invoice Sub Total</label>
                    <input type="number" class="form-control" name="invoiceSubTotal" id="field_invoiceSubTotal"
                           formControlName="invoiceSubTotal"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.invoice.invoiceTotal" for="field_invoiceTotal">Invoice Total</label>
                    <input type="number" class="form-control" name="invoiceTotal" id="field_invoiceTotal"
                           formControlName="invoiceTotal"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.invoice.invoiceDate" for="field_invoiceDate">Invoice Date</label>
                    <div class="input-group">
                        <input id="field_invoiceDate" type="text" class="form-control" name="invoiceDate" ngbDatepicker  #invoiceDateDp="ngbDatepicker" formControlName="invoiceDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="invoiceDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.invoice.invoiceDueDate" for="field_invoiceDueDate">Invoice Due Date</label>
                    <div class="input-group">
                        <input id="field_invoiceDueDate" type="text" class="form-control" name="invoiceDueDate" ngbDatepicker  #invoiceDueDateDp="ngbDatepicker" formControlName="invoiceDueDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="invoiceDueDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.invoice.status" for="field_status">Status</label>
                    <select class="form-control" name="status" formControlName="status" id="field_status">
                        <option value="DRAFT">{{'jiotmsappApp.InvoiceStatus.DRAFT' | translate}}</option>
                        <option value="GENERATED">{{'jiotmsappApp.InvoiceStatus.GENERATED' | translate}}</option>
                        <option value="SENT">{{'jiotmsappApp.InvoiceStatus.SENT' | translate}}</option>
                        <option value="PAID">{{'jiotmsappApp.InvoiceStatus.PAID' | translate}}</option>
                        <option value="OVERDRAFT">{{'jiotmsappApp.InvoiceStatus.OVERDRAFT' | translate}}</option>
                        <option value="VOIDED">{{'jiotmsappApp.InvoiceStatus.VOIDED' | translate}}</option>
                        <option value="PARTIALLY_PAID">{{'jiotmsappApp.InvoiceStatus.PARTIALLY_PAID' | translate}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.invoice.invoiceTo" for="field_invoiceTo">Invoice To</label>
                    <select class="form-control" id="field_invoiceTo" name="invoiceTo" formControlName="invoiceTo">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="customerOption.id === editForm.get('invoiceTo').value?.id ? editForm.get('invoiceTo').value : customerOption" *ngFor="let customerOption of customers; trackBy: trackCustomerById">{{customerOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
